
.sectionDetailPokemon {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.h2DetailPokemon {
    text-align: center;
}

.divDetailPokemon {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.divDetailPokemon ul {
    padding-left: 20px !important;
    font-size: x-large;

    display: grid;
    grid-template-columns: auto auto auto;
}

.imgDetailPokemon {
    border: 0 inherit;

    transition: transform 0.5s, background-color 0.5s, border-radius 0.5s;
}

.imgDetailPokemon:hover {
    background-color: white;
    border-radius: 40%;
    border: 0 inherit;

    transform: scale(1.1);
}



