<!DOCTYPE HTML>
<html lang="fr">

<head>
    <title>PokeDex</title>

    <meta charset="UTF-8">
    <meta name="author" content="Tom Sartori">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Favicon-->
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

    <!--Style -->
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/general.css">
    <link rel="stylesheet" href="./style/pokemonListDisplay.css">
    <link rel="stylesheet" href="./style/pokemonDetailDisplay.css">
    <link rel="stylesheet" href="./style/media.css">

    <!--Style Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Vue JS 3-->
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

<div id="app">

    <header>
        <nav>
            <div class="nav-wrapper">
<!--             Onclick : On revient de la vue détail, donc on reset currentPokemon pour afficher la vue liste.-->
                <button v-on:click="this.currentPokemon = ''" id="buttonPokedex" class="waves-effect waves-teal btn-flat">Pokédex</button>
            </div>
        </nav>
    </header>

    <div class="container">

        <!--    Search section-->
        <section class="sectionSearch">
            <label>
                <input id="inputSearch" v-on:keypress.enter="searchPokemon" placeholder="Searchbar" value="">
            </label>
        </section>

        <main>

<!--            Div de la liste des pokémons. -->
            <div v-if="!currentPokemon">
                <ul class="ulListPokemon">
                    <li v-for="pokemon in listPokemon">
                        <pokemon-list-display :name="pokemon.name" @set-current-pokemon="updateCurrentPokemon"></pokemon-list-display>
                    </li>
                </ul>
            </div>


<!--            Div vue détail d'un pokémon. -->
            <div v-if="currentPokemon">
                <pokemon-detail-display :name="currentPokemon" ></pokemon-detail-display>
            </div>

        </main>

    </div>
</div>


<!--Import script-->
<script src="./script/utils.js"></script>

<!-- Import App -->
<script src="./script/main.js"></script>

<!-- Import Components -->
<script src="script/components/PokemonListDisplay.js"></script>
<script src="script/components/PokemonDetailDisplay.js"></script>

<!--Import Events-->
<script src="./script/events/scrollDown.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>

</body>
</html>
