<!DOCTYPE HTML>
<html lang="fr">

<head>
    <title>PokeDex</title>

    <meta charset="UTF-8">
    <meta name="author" content="Tom Sartori">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Favicon-->
    <link rel="shortcut icon" href="./ressources/favicon.ico" type="image/x-icon">

    <!--Style -->
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/general.css">

    <!--Style Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Vue JS 3-->
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

<div id="app">

    <header>
        <nav>
            <button v-on:click="refreshList">Pokédex</button>
        </nav>
    </header>

    <div class="container">

        <!--    Search section-->
        <section>
            <label>
                <input v-on:keypress.enter="searchPokemon" placeholder="Searchbar" value="">
            </label>
        </section>

        <main>


            <div v-if="!currentPokemon">
                <ul>
                    <li v-for="pokemon in listPokemon">
                        <pokemon-list-display :name="pokemon.name" @set-current-pokemon="updateCurrentPokemon"></pokemon-list-display>
                    </li>
                </ul>
            </div>

            <!--            <pokemon-list-display :name="test" @set-current-pokemon="updateCurrentPokemon"></pokemon-list-display>-->



            <!--            <ul>-->
            <!--                <li v-for="name in listNamePokemon">-->
            <!--&lt;!&ndash;                    <pokemon-list-display :name="name" @set-current-pokemon="updateCurrentPokemon"></pokemon-list-display>&ndash;&gt;-->
            <!--                    <pokemon-detail-display :name="name" ></pokemon-detail-display>-->
            <!--                </li>-->
            <!--            </ul>-->


            <div v-if="currentPokemon">
                <pokemon-detail-display :name="currentPokemon" ></pokemon-detail-display>
            </div>



        </main>

    </div>
</div>


<!--Import script-->
<script src="./script/utils.js"></script>

<!-- Import App -->
<script src="./script/main.js"></script>

<!-- Import Components -->
<script src="script/components/PokemonListDisplay.js"></script>
<script src="script/components/PokemonDetailDisplay.js"></script>

<!--Import Events-->
<script src="./script/events/scrollDown.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>

</body>
</html>
